/*Geral*/
*{
	margin: 0;
	padding: 0;
}
html{
	font-family: 'montserrat', sans-serif;
}

.container {
	max-width: 1920px;
	width: 100%;
}

header{
	position: relative;
	top: 0;
	height: auto;
	width: 100%;
}
/* nav bar*/
nav .nav-container{
	position: fixed;
	top: 0;
	height: 100px;
	width: 100%;
	z-index: 1;
	background-color: #fff;
	border-bottom: solid #ccc;
}

nav {
	clear: both;
	content: "";
	display: block;
	
}
/*top area*/
#logo {
	width: 160px;
	height: 150px;
	margin-top: -10px;
	margin-left: 15px;
}
.loguin-botton {
	position: relative;
	float: right;
	margin-top: 55px;
	margin-left: 20px;
}
/*nav menu*/
.nav-menu {
	max-width: 1920px;
	position: relative;
	margin-right: auto;
	margin-left: auto;

}

.nav-menu ul {
	float: left;
	height: 100px;
	line-height: 100px;
	margin: 0;
	margin-top: 10px;
	background-color: #000;
	width: 100%;
	padding: 0;

}
.nav-menu ul li{
	list-style: none;
	float: left;
	margin: 0 15px;
	margin-left: 50px;
}


.nav-menu li a {
	text-decoration: none;
	color:#fff;
	transition: .5s;
	margin: auto;
	text-transform: uppercase;
}

.nav-menu li a:hover {
	color: #ff8e03;
	border-bottom: solid #ff8e03;
	transition: .1s;
}

ul ul {
	position: absolute;
	min-width: 200px;
	display: block;
}

ul ul li #sub-menu {
	display: block;
	background: ;
}



/* banner*/
.banner{
	background: url("../_imagens/banner-principal.jpg") no-repeat;
	background-size: cover;
	background-position: 0 55%;
	background: relative;
	margin-top: 100px;
}

#searh-form {
	position: relative;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 15em;
	padding-bottom: 15em;
	text-align: center;
}

#search-form h1 {
	font-size: 40px;
}

#search-form {
	margin-top: 30px;
	margin-bottom: 60px;
	font-size: 18px;
	font-weight: 300;
	margin-bottom: 0;
}

#search-form h1{
	width: 100%;
	height: 100%;
	text-align: left;
	padding: 200px;
}

#searh-form h1{
	color: #ff8e03;
	font-size: 30px;
	text-transform: uppercase;
	text-align: left;
		}
#searh-form h1 span{
	font-size: 85px;
	text-align: center;
}

#pay-button {
	margin: 10px;
	margin-left: 5px;
	float: left;
}

#pay-button button {
	color: #ff8e03;
	text-transform: uppercase;
	font-size: 30px;
	transition: .2s;
}

#pay-button button:hover {
	background-color: rgba(0,0,0,.8);
	border-bottom: solid #ff8e03;
}

/* PAGIINA PRINCIPAL */

div.album-fotos{
	margin-top: 0;
	margin-left: 0;
	background-color: rgba(0,0,0,.9);
	
}
figure.foto-legenda{
	position: relative;
	border: 3px solid #fff;
	box-shadow: 1px 1px 4px black;
	width: 300px;
	display: inline-block;
	margin: 25px;
}
figure.foto-legenda img{
	width: 300px;
	height: 500px;
}
figure.foto-legenda figcaption{
	opacity: 0;
	position: absolute;
	top: 0px;
	background-color: rgba(0,0,0,.4);
	color: #fff;
	width: 300px;
	height: 100%;
	padding: 10px;
	box-sizing: border-box;
	transition: opacity 1s;
}
figure.foto-legenda:hover figcaption{
	opacity: 1;
}
figure.foto-legenda1{
	position: relative;
	border: 3px solid #fff;
	box-shadow: 1px 1px 4px black;
	width: 600px;
	display: block;
	margin: 0px;
	float: right;
	margin-top: 24px;
}
figure.foto-legenda1 img{
	width: 600px;
	height: 200px;
}
figure.foto-legenda1 figcaption{
	opacity: 0;
	position: absolute;
	top: 0px;
	background-color: rgba(0,0,0,.4);
	color: #fff;
	width: 600px;
	height: 100%;
	padding: 10px;
	box-sizing: border-box;
	transition: opacity 1s;
}
figure.foto-legenda1:hover figcaption{
	opacity: 1;
}

		
div.ba-title h3{
	width: 100%;
	height: 100%;
	text-align: left;
	margin-left: 350px;
}

div.ba-title{
	width: 100%;
	height: 100%;
	text-align: center;
}
h3.banner-title{
	color: #000;
	font-size: 30px;
	text-transform: uppercase;
	text-align: center;
}
h3.banner-title span{
	font-size: 85px;
	text-align: center;
	color: #ff8e03;
}

div .album-fotos {
background-color: #fff;
}

